* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: green;
}

body > header { /* O sinal de maior > é usado para mostrar qual indicador usar, sendo ele dentro do indicador sucessor */
    background-color: #2f3640;
    padding: 16px 0;
    color: #fff;
}


header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header li a {
    color: #f5f6fa;
    text-decoration: none;
    margin-left: 16px;
}

.container {
    width: 1366px;
    margin: 0 auto;

}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
   /* height: 180px; */
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 30px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#esportes {
    background-color: rgba(0, 255, 0, 0.1);
}

#esportes .articles article a {
    background-color: #009432;
    color: #000;
}

#economia {
    background-color: #f8f59f;
}

#economia .articles article a {
    background-color: #ff9f1a;
}

#tecnologia {
    background-color: rgba(0, 0, 255, 0.2);
}

#tecnologia .articles a {
    background-color:#0076fde3;
}

#tecnologia .articles article time {
    color: rgb(0, 85, 141);
}

#entreterimento {
    background-color: rgba( 0, 0, 0, 0.9);
}

#entreterimento h2 {
    color: #ff3737;
}

#entreterimento .articles h3 {
    color: rgb(255, 151, 151);
}
#entreterimento .articles p {
    color: white;
}

#entreterimento .articles article a {
    background-color: #ff3737;
}

#entreterimento .articles article time {
    color: white;
}